
<div style="font-size:20px"><a href="/admin/products" style="font-size:20px">Products</a>: <%= @products %></div>
<div style="font-size:20px"><a href="/admin/categories" style="font-size:20px">Categories</a> <%= @categories %></div>